body{
   margin: 10px;
   background-color: black;
   color: white;
   font-size: 100%;
}

.wrapper{
   border: 1px solid white;
   width: 300px;
   padding: 5px;
}

.header{
   font-family: serif;
   font-style: italic;
   font-weight: bold;
   padding-bottom: 10px;

}

.title{
   display: inline;
   display: none;
}

.titleimg{
   
}

.score{
   float: right;
}

.hidden{
   display: none;
}

.main {
}

.form{
   margin: 0px;
   display: inline-block;
   text-align: left;
}

.error{
   -moz-box-shadow: 0px 0px 10px red;
   -webkit-box-shadow: 0px 0px 10px red;
   box-shadow: 0px 0px 10px red;

   padding: 5px;
   margin-top: 10px;
   background-color: rgba( 255, 0, 0, 0.6 );

   width: 302px;
}

.error_item{
/*   display: inline;*/
   margin-left: 1em;
   padding-right: 16px;
}

li.error_item:hover {
   background: url("close.png") no-repeat scroll right top transparent;
   background-color: rgb( 135, 0, 0);
}

.nos{
   position: fixed;
   background-color: black;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 10px;
   font-size: 150%;
}

.sub_header{
   font-size: 120%;
   margin-bottom: 10px;
}

/* Login Area CSS */
.login{
}

.login_area{
   margin-left: 10px;
}

.login_signin{
   margin-bottom: 10px;
}

.login_label{

}

.login_submit{
   text-align: center;
}

.login_input{
   margin-left: 10px;
   margin-bottom: 15px;
}

.login_invalid{
   color: red;
}
/* End Login CSS */


/* Join Game CSS */
.join_public{
   text-align: center;
   margin-bottom: 20px;
}

.join_header{
   margin-bottom: 10px;
}

.join_fail{
   color: red;
}

.join_board{
   text-align: center;
   margin-top: 20px;
}
/* End Join CSS */

/* Game CSS */
.answer{
   border: 1px solid gray;
   margin-bottom: 10px;
   color: pink;
   display: block;
}

a.answer:hover {
   border: 1px solid white;
}

.game_bottom{
   text-align: center;
}

.selected{
   border: 1px solid white;
   color: red;
}

.next{
   border: 1px solid white;
   padding: 0 20px;
}
/* End Game CSS */


/* Leaderboard CSS */
.board_list{
   height: 12em;
   overflow: auto;
}

.board_left{
   display: inline;
}

.board_right{
   display: inline;
   float: right;
}

.board_load{
   background: url('load2.gif') no-repeat center;
}

.board_bottom{
   text-align: center;
}
/* End Leaderboard CSS */


/* Game Leaderboard CSS */
.game_board{
   border: 1px solid gray;
   float: left;
}
.wrapper{
   float: left;
}
/* End Game Leaderboard CSS */

.error_div{
   float: left;
   clear: left;
}

a:link {
   color: pink;
}

a:visited {
   color: pink;
}

a:hover {
   color: red;
}

a:active {
   color: red;
}
